<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width = device-width, initial-scale = 1.0'>
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename = 'styles.css')}}">
  <title> Media Bias Classifier</title>
</head>

<body>
  <h1> Media Bias Classifier </h1>

  <h3> Copy the relevant news article heading, and the news content into the textboxes
    below to check the political bias/lean of the article.
  </h3>

  <section id='outer'> </section>
  <section id='inner'> </section>

  <div class=container>
    <div class='inputSection'>
      <textarea id='headingInput' rows="2" cols="80" placeholder="News Heading here..."> </textarea>
      <br />
      <textarea id='textInput' rows="14" cols="80" placeholder="News Content here..."> </textarea>
      <br />
      <button id='submitButton'> Predict Bias </button>
    </div>

    <div class='resultBox'>
      <h2> Prediction: </h2>
      <h4 id="resultSection"> .</h4>
    </div>
  </div>

  <script>
    let heading;
    let content;

    const headingSpace = document.getElementById('headingInput');
    const textSpace = document.getElementById('textInput');
    const submitButton = document.getElementById('submitButton');
    const resultSpace = document.getElementById('resultSection');

    submitButton.addEventListener('click', async () => {
      heading = headingSpace.value.trim();
      content = textSpace.value.trim();

      const formData = new FormData();
      formData.append('heading', heading);
      formData.append('content', content);

      try {
        const response = await fetch('http://127.0.0.1:5000/', {
          method: 'POST',
          body: formData,
        });

        if (response.ok) {
          const result = await response.json();
          resultSpace.textContent = `Classification: ${result.prediction}-leaning`;
        } else {
          alert(`Failed to upload text data. Status: ${response.status}`);
        }
      } catch (e) {
        console.error(e);
      }
      headingSpace.value = "";
      textSpace.value = "";
    })
  </script>
</body>

</html>